services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./src/ollama_data:/root/.ollama
    restart: unless-stopped
    deploy: { }
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all

  qdrant:
    restart: always
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./src/qdrant_data:/qdrant/storage

  backend:
    build: .
    container_name: backend
    ports:
      - "8080:8080"
    volumes:
      - ./src:/src
    depends_on:
      - qdrant